.main-logo {
  text-decoration: none;
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: $accentColor;

  &__footer--mobile {
    @media screen and (max-width: 479px) {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__footer {
    color: $mainColor;
  }
}
&__header {
  color: $brandColor;
}
