.section-team {
  background-color: $accentBgc;
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .section-team__list {
    margin-bottom: 0;
    padding-left: 0;
    @media screen and (min-width: $tablet) {
      display: flex;
    }
  }
  .section-team__item:not(:last-child) {
    @media screen and (max-width: 479px) {
      margin-bottom: 30px;
    }
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
  .section-team__item {
    @media screen and (max-width: 479px) {
      width: 450px;
    }
    width: 270px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .section-team__title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
    @media screen and (max-width: $desktop) {
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 1.17;
    }
  }
  .section-team__card-content {
    text-align: center;
    padding: 30px 32px;
    background-color: $mainColor;
  }
  .section-team__icon-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
  }

  .section-team__subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
  }
  .section-team__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $contactColor;
  }
}
